<%= simple_form_for(profile) do |f| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>
      <ul>
      <% profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="profile-page-box">
    <div class="card profile-card">
      <% if request.referrer.present? %>
        <%= URI(request.referrer).path %>
        <% if URI(request.referrer).path == '/users/sign_in'%>
          <h4 class="card-header">New User Profile</h4>
        <% end %>
      <% else %>
        <h4 class="card-header">Edit User Profile</h4>
      <% end %>
      <div class="card-block">
        <div class="form-inputs">
          <%= f.input :username %>
          <%= f.input :first_name %>
          <%= f.input :last_name %>
          <%= f.label :birth_date %>


          <%= f.text_field :birth_date, 'data-provide' => 'datepicker', 'data-date-autoclose' => 'true', 'data-date-end-date' => '0d', 'data-date-format' => 'dd-mm-yyyy', 'data-date-max-view-mode' => '3', 'data-date-assume-nearby-year' => 'true' %><br/>
          <!-- <%= f.input :birth_date, as: :string, input_html: { 'data-provide' => 'datepicker', 'data-date-autoclose' => 'true', 'data-date-end-date' => '0d', 'data-date-format' => 'dd-mm-yyyy', 'data-date-max-view-mode' => '3', 'data-date-assume-nearby-year' => 'true' } %> -->
          <!-- <%= f.input :birth_date, input_html: { 'data-provide' => 'datepicker', 'data-date-autoclose' => 'true', 'data-date-end-date' => '0d', 'data-date-format' => 'dd-mm-yyyy', 'data-date-max-view-mode' => '3', 'data-date-assume-nearby-year' => 'true' } %> -->


          <%= f.input :gender, collection: [ 'Male', 'Female' ] %>
          <div class="field">
            <%= f.label :avatar_src, label: 'Upload Avatar' %><br>
            <%= f.file_field :avatar_src, :class => 'btn btn-large btn-outline-success app-button profile-button', "data-input" => false %>
          </div>
          <div class="field">
            <div class="actions">
              <%= f.button :submit, :class => 'btn btn-large btn-outline-success app-button profile-button' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



<% end %>
