<%= render "layouts/navbar" %>
<div class="profile-page-box">
  <p>
    <%= 'Logged in as ' + current_user.email + ' | User ID: ' + current_user.id.to_s %>
  </p>

  <%= request.referrer %><br />
  <%= request.referrer == new_user_session_path %><br /><br />

  <% if is_user_captain? %>
  <%= link_to "Create new SquadGroup",new_squad_group_path%>
  <%= 'Your Squads'%><br />
  <%= 'Here be a list of ' + current_user.profile.first_name + '\'s squads' %><br />
  <% end %>
  <% if current_user.captain_profile.nil? %>
  <%= link_to 'Register as a Captain', new_captain_profile_path %><br />
  <% end %>

  <%= form_tag search_squad_groups_path,method: :get,:multipart => true do %>
  <%= select_tag :search, options_from_collection_for_select(ExerciseType.all, :id, :name)%>
  <%= button_tag 'Search' %>
  <% end %>

</div>
