<%= render "layouts/navbar" %>
<div class="profile-page-box">
  <p>
    <%= 'Logged in as ' + current_user.email + ' | User ID: ' + current_user.id.to_s %>
  </p>

  <%= request.referrer %><br />
  <%= request.referrer == new_user_session_path %><br /><br />

  <% if is_user_captain? %>
  <%= link_to "Create new SquadGroup",new_squad_group_path%>
  <%= 'Your Squads'%><br />
  <%= 'Here be a list of ' + current_user.profile.first_name + '\'s squads' %><br />
  <% end %>
  <% if current_user.captain_profile.nil? %>
  <%= link_to 'Register as a Captain', new_captain_profile_path %><br />
  <% end %>

  <%= form_tag search_squad_groups_path,method: :get,:multipart => true do %>
  <%= select_tag :search, options_from_collection_for_select(ExerciseType.all, :id, :name)%>
  <%= button_tag 'Search' %>
  <% end %>
  <% if @captain_profile.present? %>
    <% if @results.present?%>
      <div class="squads">
        <% @results.each do |squad_group| %>
          <div class="squad" style="border-style: solid;">
            Name:<%= squad_group.name %> <br>

            Location:<%= squad_group.location %> <br>

            Max Members:<%= squad_group.max_members %> <br>

            Price:<%= squad_group.price %> <br>
            Type:<%= ExerciseType.find(squad_group.exercise_types_id).name %> <br>
            <%= link_to "Class Finished",class_finished_squad_group_path(squad_group.id) %> <br>
            <%= link_to "Show",squad_group_path(squad_group.id) %> <br>
          </div>
        <% end %>
      </div>
    <% else %>
      <p>No Squads made</p>
    <% end %>
  <% end %>

</div>
