<h4>Results for <%= ExerciseType.find(@search_param).name %></h4>
<div class="squads">
  <% @results.each do |squad| %>
  <div class="squad">
    Name:<%= squad.name %> <br>
    Location:<%= squad.location %> <br>
    Maximum Spaces:<%= squad.max_members %> <br>
    Price:$<%= squad.price / 100 %>aud <br>
  <br>
  <% squad_member_count = SquadMember.where(squadgroup_id: squad.id).count %>
  <% member = SquadMember.find_by(user_id: current_user.id, squadgroup_id: squad.id) %>
  <% if member.present? %>
    <p>Joined</p>
  <% else %>
    <% if squad_member_count < squad.max_members %>
    <%= form_tag squad_group_squad_members_path(squad),method: :post,:multipart => true do %>
    <%= hidden_field_tag :search, @search_param %>
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-email="<%= current_user.email %>"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="A month's subscription"
          data-amount=<%= squad.price %>
          data-label='Pay to Join' %>
          data-locale="auto"></script>
    <% end %>
    <% else %>
    <p>Squad Full</p>
    <% end %>
    <%= link_to 'Back', squad_groups_path %>
  <% end %>
  </div>
  <%= link_to 'Back', squad_groups_path %>
  <% end %>
</div>
