<div class="profile-page-box">
  <%= simple_form_for(@captain_profile) do |f| %>
    <%= f.error_notification %>
    <div class="card profile-card">
      <h4 class="card-header">Captain Profile</h4>
      <div class="card-block">
        <div class="form-inputs">
          <%= f.input :bio %>
          <%= f.input :contact_phone %>
          <%= f.input :contact_email %>
        </div>
        <div class="form-actions">
          <%= f.button :submit, :class => 'btn btn-large btn-outline-success app-button profile-button'  %>
        </div>
        <%= URI(request.referrer).path %>
        <%= captain_profile_path %>
      </div>
    </div>
  <% end %>
</div>
