<%= render "layouts/navbar" %>

<p id="notice"><%= notice %></p>

<P>
  <%= @captain_profile.class %>
</P>

<p>
  <strong>User:</strong>
  <%= @captain_profile.user_id %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @captain_profile.bio %>
</p>

<p>
  <strong>Contact phone:</strong>
  <%= @captain_profile.contact_phone %>
</p>

<p>
  <strong>Contact email:</strong>
  <%= @captain_profile.contact_email %>
</p>

<%= link_to 'Edit', edit_captain_profile_path(@captain_profile) %> |
<%= link_to 'Dashboard', root_path %> |
<%= link_to 'Add Expertise', new_exercise_types_in_user_path %>

<%= render 'layouts/modal' %>
