<div class="nav-box">
  <nav class="navbar navbar-light bg-faded">
    <div class="nav-elements-box">
      <%= link_to "SQUAD", {controller: "home", action: "index"}, id: "nav-title", class: "navbar-brand" %>
      <div class="nav-link-box">
        <% if user_profile_id.present? %>
          <!-- <%= link_to 'Profile', profile_path(user_profile_id), :class => 'btn btn-large btn-outline-secondary app-button' %>
          <%= link_to 'Sign Out', destroy_user_session_path, :class => 'btn btn-large btn-outline-secondary app-button', method: :delete %> -->
          <!-- <div>
            <%= image_tag current_user.profile.avatar_src.thumb.url, :class => 'caret' %>
          </div> -->
          <button class="btn nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= image_tag current_user.profile.avatar_src.thumb.url, :class => 'caret' %>
          </button>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <%= link_to 'Profile', profile_path(user_profile_id) %><br />
            <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
        </div>


        <% end %>
      </div>
    </div>
  </nav>
</div>
