<div class="nav-box">
  <nav class="navbar navbar-light bg-faded">
    <div class="nav-elements-box">
      <% if current_user.nil? %>
        <p id="nav-title", class="navbar-brand">SQUAD</p>
      <% else %>
        <%= link_to "SQUAD", {controller: "home", action: "index"}, id: "nav-title", class: "navbar-brand" %>
        <div class="nav-link-box">
          <button class="btn nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <% if current_user.profile.nil? or current_user.profile.avatar_src.nil? %>
              <%= image_tag "/assets/images/blank_avatar.jpg", :class => 'caret' %>
            <% else %>
              <%= image_tag current_user.profile.avatar_src.thumb.url, :class => 'caret' %>
            <% end %>
          </button>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <% if current_user.profile.present? %>
              <%= link_to 'Profile', profile_path(user_profile_id) %><br />
            <% end %>
            <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
          </div>
        </div>
      <% end %>
    </div>
  </nav>
</div>
