<!DOCTYPE html>
<html>
  <head>
    <title>Squad</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
  </head>

  <body>
    <%= render 'layouts/messages' %>
    <% if user_signed_in? %>
      <% unless current_page?(controller: 'profiles', action: 'new') %>
        <% user_profile_incomplete? %>
      <% end %>
    <% end %>
    <%= yield %>
  </body>
</html>
