<!DOCTYPE html>
<html>
  <head>
    <title>Squad</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <% unless current_page?(controller: 'profiles', action: 'new') %>
        <% profile_incomplete? %>
      <% end %>
      <%= 'Signed in as'%>
      <%= current_user.email %><br />
      <%= link_to('Sign Out', destroy_user_session_path, :method => :delete) %>
    <% else %>
      <%= link_to('Login', new_user_session_path)  %>
      <%= current_user.nil?%>
    <% end %>
    <%= yield %>
  </body>
</html>
